@font-face {
    font-family: Pretendard-Regular;
    src: url('Pretendard-Regular.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    cursor: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 166, 196);
    user-select: none;
}

.cursor {
    position: fixed;
    z-index: 1000;
}

.rounded {
    width: 30px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 90%;
}

.pointed {
    width: 7px;
    height: 7px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

footer {
    margin-top: auto;
    padding: 20px 0; 
}

footer nav ul {
    list-style: none;
    display: flex;
    padding-left: 20px;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 60%;
    transition: 0.3s ease; 
}

footer nav ul li a:hover {
    background-color: #5555557e;
    color: #fff;
}

#object1 {
    position: fixed;
    top: 200px;
    left: 200px;
    width: 500px;
    height: auto;
    border-radius: 10%;
}
#object2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 70px;
    background-color:rgb(188, 106, 169);
}
#object3 {
    position: fixed;
    bottom: 200px;
    right: 200px;
    width: 50px;
    height: 50px;
    border-radius: 70px;
    background-color: gold;
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );

    
}



#object4 {
    position: fixed;
    top: 80px;
    left: 70px;
    width: 60px; 
    height: auto;
    border-radius: 10%;
    animation: fadeIn 1s ease-in-out; 
}

@keyframes fadeIn {
    0% { opacity: 0.1; }
    20% { opacity: 1; }
    50% { opacity: 0.3; }
    70% { opacity: 0.7; }
    100% { opacity: 0; }
}


