@font-face {
    font-family: "Cascadia";
    src: url("fonts/CascadiaCode_VTT.ttf") format("truetype");
}

@font-face {
    font-family: "JalnanGodthicTTF";
    src: url("fonts/JalnanGothicTTF.ttf") format("truetype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url('images/카테고리-30.svg')8 8, auto; /* 핫스팟을 이미지 중앙으로 설정 */
  }
  
  *:active {
    cursor: url('images/카테고리-31.svg')8 8, auto; /* 클릭 시 커서 이미지 변경 */
  }
  
  body {
    background-image: url('images/KakaoTalk_20241105_003421151.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Cascadia';
  }
  
  a, a:link, a:hover {
    text-decoration: none;
    color: #000;
  }
  
  #box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
  }
  
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: antiquewhite;*/
  }
  
  #logo img {
    max-width: 100%;
    transform: translateY(-8%);
}
  
  #topic {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    font-size: 0.4vw;
    font-family: "Cascadia";
  }
  
  #subtopic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    font-size: 1vw;
    font-family: "JalnanGodthicTTF";
  }
  
  #home {
    position: fixed;
    left: 50px;
    bottom: 45px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1000; /* z-index를 추가하여 다른 요소들 위에 표시되도록 */
  }
  
  #home img {
    width: 6.5vw;
    height: auto;
  }
  
  
  #floating-letter {
    font-family: "JalnanGodthicTTF";

  }
  
  .content-container {
    font-size: .9vw;
    text-align: center;
    position: relative;
  }
  
  .floating-text {
    position: absolute;
    color: #333;
    font-weight: bold;

    transition: transform 0.1s ease-out;
  }
  
  .floating-text:nth-child(odd) {
    font-style: italic;
  }
  
  .floating-text:nth-child(even) {
    text-transform: uppercase;
  }
  