@font-face {
    font-family: 'Cascadia';
    src: url('../santa0423.github.io/fonts/CascadiaCode_VTT.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('images/KakaoTalk_20241105_003421151.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Cascadia';
}

a, a:link, a:hover {
    text-decoration: none;
    color: #000;
}

#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
}

#logo {
    display: flex;          /* Flexbox를 사용 */
    justify-content: center;/* 수평 중앙 정렬 */
    align-items: center;    /* 수직 중앙 정렬 */
    width: 100%; 
    background-color: antiquewhite;           /* 화면 너비 100% */
}

#logo img {
    max-width: 100%;         /* 이미지 크기 비율을 유지 */
    height: auto;           /* 비율에 맞게 높이 자동 조정 */
}

/* #topic: 상단 중앙 */
#topic {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: flex-start; /* 상단 정렬 */
    width: 100%;
    position: absolute; /* 절대 위치 지정 */
    top: 0; /* 상단에 위치 */
    left: 50%; /* 화면의 중앙 */
    transform: translateX(-50%); /* 정확한 중앙 위치 */
    padding-top: 20px; /* 상단 여백 */
    font-size: 0.4vw;
}

/* #subtopic: 로고 하단 */
#subtopic {
    display: flex;    
    justify-content: center;/* 수평 중앙 정렬*/
    align-items: center;    /* 수직 중앙 정렬 */
    width: 100%;            /* 화면 너비 100%*/
    font-size: 1vw;
}

/* #subfunction: 오른쪽 하단 */
#subfunction {
    position: fixed;
    right: 50px;
    bottom: 40px;
    width: 5%;
    height: 15%;
    /*background-color: rgb(0, 34, 255);*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 9999;  /* Ensure this element appears on top of others */
}

#subfunction img {
    margin-left: auto;  /* Pushes the image to the far right */
    max-width: 100%;     /* Image size as per the requirement */
    height: auto;       /* Maintain aspect ratio */
}

#menu-container {
    position: fixed;
    left: 50px;
    bottom: 50px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.menu-container a img {
    width: 100%;
}

.menu {
    position: relative;
    width: 100px;
    height: 55px;
    margin-right: 20px;
}

.menu-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-title img {
    width: 6.5vw; 
    height: auto;
}

.submenu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu img {
    width: 6vw; 
    height: auto; 
}
