@font-face {
  font-family: "Cascadia";
  src: url("fonts/CascadiaCode_VTT.ttf") format("truetype");
}

@font-face {
  font-family: "JalnanGodthicTTF";
  src: url("fonts/JalnanGothicTTF.ttf") format("truetype");
}

@font-face {
  font-family: "DungGeunMoTTF";
  src: url("fonts/DungGeunMo.ttf") format("truetype");
}


* {
  
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url('images/카테고리-30.svg')8 8, auto; /* 핫스팟을 이미지 중앙으로 설정 */
}

*:active {
  cursor: url('images/카테고리-31.svg')8 8, auto; /* 클릭 시 커서 이미지 변경 */
}




body {
  padding: 0; margin: 0;
  width: 100vw; height: 100vh;
  animation: clip-animation 1s;
}

#all{
  background-image: url('images/배경화면\ 컬러FFFCE9-04.png');
  padding: 0; margin: 0;
  width: 100vw; height: 100vh;
  animation: clip-animation 3s;
  background-size: cover;
  background-position: center;
  overflow: hidden; /* 페이지 스크롤 막기 */
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 /*background-color: antiquewhite;*/
}

#logo img {
  max-width: 100%;
  transform: translateY(-8%);
}

/* #floting text */
.content-container {
  font-family: "DungGeunMoTTF";
  font-weight: bold;
  font-size: .9vw;
}

/* #topic: 상단 중앙 */
#topic {
  color: #9e6f6f;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  font-size: 0.4vw;
  font-family: "Cascadia";
}

/* #subtopic: 로고 하단 */

#subtopic {
  font-weight: lighter;
  font-family: "DungGeunMoTTF";
  color: #9e6f6f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.2vw;

}

/* #subfunction: 오른쪽 하단 */
#subfunction {
  position: fixed;
  right: 50px;
  bottom: 40px;
  width: 5%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 9999;
}

#subfunction:hover {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  30% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(0);
  }
  70% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

#subfunction img {
  margin-left: auto;
  max-width: 100%;
  height: auto;
}

#menu-container {
  position: fixed;
  left: 50px;
  bottom: 50px;
  width: 22%;
  height: 100px;
/*background-color: aquamarine;*/
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5%;
}

.menu {
  position: relative;
  flex-basis: 30%;
}

.menu-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu-title img {
  width: 100%;
  vertical-align: bottom;
}

/*daily*/
.submenu1-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu1-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu1-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu1-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*worry*/
.submenu2-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu2-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu2-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu2-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


/*relationship*/
.submenu3-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu3-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu3-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submenu3-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

a, a:link, a:hover {
  text-decoration: none;
  color: #000;
}

#object1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:0px;
  height: 0px;
  background-color: #DE8CF2;
  border-radius: 50%;

}

#object2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:0px;
  height: 0px;
  background-color: #fff;
  border-radius: 50%;
}


.menu img {
  width: 100%;
  vertical-align: bottom;
}