* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url('images/카테고리-30.svg')8 8, auto; /* 핫스팟을 이미지 중앙으로 설정 */
}

*:active {
  cursor: url('images/카테고리-31.svg')8 8, auto; /* 클릭 시 커서 이미지 변경 */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: url('images/손-22.png');
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}


.object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3498db;
  animation: shrinkAndDisappear 1s ease forwards;
}

@keyframes shrinkAndDisappear {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  50% {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
